<div class="container-fluid px-5">
  <div class="px-4">
    <h1 class="header">ВАШЕ ЗАМОВЛЕННЯ</h1>
    <div class="container">
    <h3>Товари,які Ви замовили:</h3>
    <div class="col">
      <div class=" col mini-order-card px-4 mx-2 py-2 my-2" *ngFor="let item of order.items">
        <div class="header-mini-card d-flex justify-content-between align-items-center py-2">
          <div class="title">{{item.title}}</div>
        </div>
        <div class="row body-mini-card">
          <div class="col-3 counter">{{item.quantity}}<span class="color-light-grey">x</span></div>
          <div class="col"><img style=" height: 40px; width: auto" [src]="item.image" alt=""></div>
          <div class="col-2">
            <div class="row d-flex justify-content-end">{{item.weight}}</div>
            <div class="row d-flex justify-content-end">{{item.price}} грн</div>
          </div>
        </div>
      </div>
    </div>
    <div>
  
      <div>
        Загальна вартість замовлення: {{order.totalPrice}} грн
      </div>
      <h3>Інформація про користувача: </h3>
      <div>Ім'я: {{order.deliveryInfo?.name}}</div>
      <div>Номер телефону: {{order.deliveryInfo?.tel}}</div>
      <div>Адреса: {{order.deliveryInfo?.address}}, Будинок: {{order.deliveryInfo?.house}}/{{order.deliveryInfo?.appartaments}}/{{order.deliveryInfo?.entrance}}</div>
      <div>Коментар: {{order.deliveryInfo?.comment}}</div>
      <div>Телефонувати для підтвердження: {{order.callConfirm ? 'так':'ні'}}</div>
      <div>Дзвонити у двері: {{order?.callInDoor?'так':'ні'}}</div>
      <div>Тип оплати: {{order.paymentType}}</div>
      <div *ngFor="let option of order.options">{{option.title}}: {{option.quantity}}</div>
      <!-- <div>Палички: {{info.options.quantity}}</div> -->
    </div>
    </div>
  </div>
