<html>
<div class="container" style="display: flex;justify-content: center; align-content: center;">
  <div class="row">
    <div class="col" style="display: flex; flex-direction: column;align-items: center;">
      <a class="navbar-brand" [routerLink]="[ '' ]"> <img style="width: 100px; height: 51px; margin-top: 50px;"
          src="../../../assets/images/sushishtat.svg" alt=""></a>
      <a href="mailto:sushishtat.official@gmail.com" type="mailto" class="text-style">sushishtat.official@gmail.com</a>
      <a href="tel:0686080008" type="tel" class="text-style">(068) 608 00 08</a>
      <a href="tel:0936080008" type="tel" class="text-style">(093) 608 00 08</a>
      <div class="text-style schedule">щодня без вихідних з 11:00 до 00:00</div>
    </div>
  </div>
</div>

</html>
