<div class="container-fluid py-5 px-5">
  <div class="card">
    <div class="card-body">
      <div class="row align-items-start pt-lg-5 px-lg-5 px-2">
        <div class="card-text col-8 py-lg-5 py-3">
          <span>ПРИВІТ!</span>
          <p class="py-5">Суші Штат - команда професіоналів у ресторанній сфері . Головна наша мета -
            індивідуальний підхід до кожного
            клієнта , якісний сервіс обслуговування та мінімальний час доставки. Продукція виготовлена тільки з
            натуральних інгредієнтів , a також звертаємо особливу увагу на смак, та приготування усіх наших страв .
            Майстерність у поєднанні з кращими рецептами дає відмінний результат - смачні та якісні страви японської
            кухні. </p>
          <button class="btn btn-instagram"> <a href="https://www.instagram.com/sushishtat/">НАШ ІNSTAGRAM</a></button>
        </div>
        <p class="card-text col">
          <img class="logo-img" src="../../../assets/images/bigWhiteLogo.png" alt="">
        </p>
      </div>
    </div>
  </div>
</div>
