.container {
  padding: 30px 100px 100px 80px;
  margin: 0;
  min-width: 100%;
}

.discount-img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

.col {
  width: 50%;
}

@media screen and (max-width: 900px) {
  .col {
    min-width: 100%;
  }
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category {
  width: 189px;
  text-decoration: none;
  color: white;
  height: 143px;
  border-radius: 24px;
  background-color: #1f1f1f;
  border: 2px solid #1f1f1f;
  padding: 20px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 8px;
}

h5 {
  padding: 0 0 18px;
  font-size: 16px;
  font-weight: 700;
}

.icon-style {
  width: 48px;
  height: 48px;
}

h4.header {
  margin: 50px 0 24px;
  padding: 0;
  text-align: center;
}

.section-category-container {
  margin: 0 0 64px;
}

.header-top-positions {
  font-size: 64px;
  margin: 0 0 64px;
  color: #1f1f1f;
  text-align: center;
}

h2.category-name {
  font-weight: 800;
  font-size: 48px;
  padding-bottom: 50px;
}

.btn-see-all-rolls {
  width: 223px;
  height: 50px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 12px;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
  padding: 12px 24px;
  border: 2px solid #e31031;
}

.btn.btn-see-all-rolls:hover {
  background-color: #e31031;
}

a {
  text-decoration: none;
  color: white;
}

h3.card-title {
  font-size: 20px;
  color: #fbfbfb;
  font-weight: 700;
  margin-bottom: 16px;
}

.card-text {
  font-weight: 500;
  color: #b7b7b7;
  font-size: 14px;
}

.card {
  background-color: #1f1f1f;
  padding: 40px 32px 32px;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  width: calc(100%/4.2 - 10px) !important;
}

.sushi-square-icon {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  padding: 8px 4px;
  display: inline-block;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #fbfbfb;
}

.card-img-top {
  margin: 0 0 32px;
}

.btn-add-to-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 131px;
  height: 45px;
  padding: 12px 24px;
  border: 2px solid #e31031;
  background-color: #e31031;
  color: #fbfbfb;
  font-weight: 600;
  border-radius: 12px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row.category-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/*# sourceMappingURL=rolls.component.css.map */