<div class="container">
  <div class="section-category-container">
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
      <h2 class="category-name col">РОЛИ</h2>
      <!-- <button class="btn" style="background-color:red; color:white;">
        <div style="width: 24px; height: 24px; background-color: white;border-radius: 12px; display: flex; align-items: center; justify-content: center;"><img src="../../../../assets/images/filterIconForAllCategories.svg" style="width: 12px; height: 12px;" alt=""></div> 
        <span>ВСІ</span>
      </button> -->
    </div>

    <div class="row category-row">
      <div class="card col-3">
        <div class="sushi-square-icon">
          <img src="../../../assets/images/sushi-mini-icon.svg" alt=""></div>
        <img src="../../../assets/images/felix-with-salmon.png" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Фелікс з лососем</h3>
          <p class="card-text">260 г: рис , вершковий сир , огірок , лосось , соус Спайсі , кунжут</p>
          <div class="row" style="display: flex; flex-direction: row;">
            <button class="btn btn-add-to-cart col">В КОРЗИНУ</button>
            <span class="price col">169 грн</span>
          </div>
        </div>
      </div>
      <div class="card col-3">
        <div class="sushi-square-icon">
          <img src="../../../assets/images/sushi-mini-icon.svg" alt=""></div>
        <img src="../../../assets/images/filadelfia-width-avocado.png" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Філадельфія з авокадо</h3>
          <p class="card-text">240 г: рис , вершковий сир , авокадо , лосось</p>
          <div class="row" style="display: flex; flex-direction: row;">
            <button class="btn btn-add-to-cart col">В КОРЗИНУ</button>
            <span class="price col">146 грн</span>
          </div>
        </div>
      </div>
      <div class="card col-3">
        <div class="sushi-square-icon">
          <img src="../../../assets/images/sushi-mini-icon.svg" alt=""></div>
        <img src="../../../assets/images/vugow-with-panapple.png" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Вугор з ананасом</h3>
          <p class="card-text">230 г: рис , вершковий сир , ананас , вугор</p>
          <div class="row" style="display: flex; flex-direction: row;">
            <button class="btn btn-add-to-cart col">В КОРЗИНУ</button>
            <span class="price col">149 грн</span>
          </div>
        </div>
      </div>
      <div class="card col-3">
        <div class="sushi-square-icon">
          <img src="../../../assets/images/sushi-mini-icon.svg" alt=""></div>
        <img src="../../../assets/images/in-yan.png" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Інь-Янь</h3>
          <p class="card-text">250 г: рис , вершковий сир , авокадо , креветка , вугор , соус Спайсі , соус Унагі ,
            кунжут</p>
          <div class="row" style="display: flex; flex-direction: row;">
            <button class="btn btn-add-to-cart col">В КОРЗИНУ</button>
            <span class="price col">159 грн</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-category-container">
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
      <h2 class="category-name col">НАПОЇ</h2>
    </div>
    <div class="row category-row">
      <div class="card col-3">
        <img src="../../../assets/images/sparkling-water.png" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">BonAqua газована</h3>
          <p class="card-text">0,5 л</p>
          <div class="row" style="display: flex; flex-direction: row;">
            <button class="btn btn-add-to-cart col">В КОРЗИНУ</button>
            <span class="price col">15 грн</span>
          </div>
        </div>
      </div>
      <div class="card col-3">
        <img src="../../../assets/images/no-sparkling-water.png" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">BonAqua негазована</h3>
          <p class="card-text">0,5 л</p>
          <div class="row" style="display: flex; flex-direction: row;">
            <button class="btn btn-add-to-cart col">В КОРЗИНУ</button>
            <span class="price col">15 грн</span>
          </div>
        </div>
      </div>
      <div class="card col-3">
        <img src="../../../assets/images/coca-cola-with-coffee.png" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Coca-Cola Plus Coffee з екстрактом кави</h3>
          <p class="card-text">0,3 л</p>
          <div class="row" style="display: flex; flex-direction: row;">
            <button class="btn btn-add-to-cart col">В КОРЗИНУ</button>
            <span class="price col">19 грн</span>
          </div>
        </div>
      </div>
      <div class="card col-3">
        <img src="../../../assets/images/fanta.png" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Fanta</h3>
          <p class="card-text">0,3 л</p>
          <div class="row" style="display: flex; flex-direction: row;">
            <button class="btn btn-add-to-cart col">В КОРЗИНУ</button>
            <span class="price col">19 грн</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
