<div class="container-fluid px-lg-5 px-3 py-lg-5 py-3">
  <div class="px-lg-5 px-3">
    <h1>ДОСТАВКА ТА ОПЛАТА</h1>
    <div class="card">
      <div class="green-circle"></div>
      <div class="card-body">
        <p class="card-text">Ми стараємось доставити замовлення якомога швидше. Орієнтовний час доставки становить
          30-60хв. Він залежить від Вашого району і дорожньої обстановки по місту. Точніший час доставки Вам озвучить
          оператор під час підтвердження замовлення. </p>
        <p class="card-text"> Мінімальне замовлення по місту - 200грн, за містом - 500грн.</p>
        <h3>Способи оплати:</h3>
        <p class="card-text"> - Оплата готівкою кур'єру</p>
      </div>
    </div>
  </div>
</div>
